html,
body,
.v-application
    font-family: $body-font-family

/* html
    font-size: 14px

/* .title
    font-size: 20px

/* .subheading
    font-size: 16px

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle-1,
.headline,
.display-1,
.display-2,
.display-3,
.display-4,
.v-toolbar__title,
.v-subheader,
.v-application h1,
.v-application h2,
.v-application h3,
.v-application h4,
.v-application h5,
.v-application h6,
.v-application .title,
.v-application .subtitle-1,
.v-application .headline,
.v-application .display-1,
.v-application .display-2,
.v-application .display-3,
.v-application .display-4,
.v-application .v-toolbar__title,
.v-application .v-subheader
    font-family: $heading-font-family !important
    font-weight: $heading-font-weight !important

h4
    font-size: 1.5rem

main.v-content
    padding-bottom: 150px

.v-application .v-app-bar .error--text .v-messages__message,
.v-application .v-app-bar .error--text.v-counter
    color: #ffbbbb !important

.v-card__title,
.v-application .v-card__title
    font-size: .9rem

.v-bottom-sheet .v-card--title
    word-break: break-word

.v-card__title .subtitle-1
    font-family: $body-font-family !important
    font-weight: normal
    word-break: break-word

.v-application h2
    margin-bottom: .5em

.v-application p
    margin-bottom: .5em
    line-height: 2em
    word-break: initial

.v-application.sm-and-down p
    font-size: .9em

main h3.display-1
    margin-bottom: .3em

.v-space-inside-1em
    padding: 1em 0

.pointer-arrow
    cursor: default

.pointer-hand
    cursor: pointer

.big-slanted-icon
    font-size: 7em
    color: rgba(0, 0, 0, .2) !important
    transform: skewX(-6deg) scale(2) translate(-6px, -15px)

.big-slanted-icon.trans-y-20
    transform: skewX(-6deg) scale(2) translate(-6px, -20px)

.text--accent
    color: #64dd17 !important

img.inline-image
    vertical-align: middle

a.button-link
    text-decoration: none

button.accent a.button-link
    color: #000

.v-btn--icon > .v-btn__content > a
    /* margin-top: 5px
    text-decoration: none

.d-none
    display: none !important

.v-btn--floating.v-btn--small .v-icon
    line-height: 40px

.icon-normal
    min-width: 24px
    min-height: 24px

h1 .svg-icon
    vertical-align: middle

.v-icon
    transition: all 0.25s ease

.v-icon.rotated
    transform: rotate(180deg)
    transition: all 0.25s ease

.v-btn:not(.v-btn--icon):not(.v-btn--fab) .v-icon
    margin-right: .4rem

.v-toolbar__title > a
    color: #fff !important
    text-decoration: none

.vertical-center-slot
    height: 100%

.vertical-center-slot:before
    content: ' '
    display: inline-block
    height: 100%
    vertical-align: middle

.madewith-icon
    display: block
    /* width: 100%
    /* height: 100%

.breakout-row
    margin: 0 -50px

