@import '~/assets/css/gist-embed.css'

.gist .gist-file
    border: none

.gist .blob-code,
.gist .blob-code-inner,
.gist .gist-meta,
.gist .blob-num
    font-family: $code-font-family
    font-size: $code-font-size
    font-weight: $code-font-weight
    background-color: $code-background-color
    color: $code-color
    line-height: 1em

.gist .gist-meta
    color: $code-function-color

.gist .gist-meta a
    color: $code-comment-color
    font-weight: $code-font-weight  

.gist .gist-meta a:hover
    color: $code-bold-color

.gist .blob-num
    color: $code-const-color

.gist .blob-num:hover,
.gist tr:hover .blob-num
    color: $code-bold-color

.gist .gist-meta
    line-height: 20px
    border-radius: 0 0 16px 16px

.gist .gist-data
    border-bottom: 1px solid $code-color
    border-radius: 16px 16px 0 0
    padding-top: 1em
    background: $code-background-color
    max-height: 25em

.gist .highlighted-line,
.gist .highlighted-line>*
    background-color: $code-tag-color !important
    color: $code-background-color !important

.gist-raw
    float: right

.gist-raw.xs
    display: block
    float: none !important
    padding-bottom: 0.5em
    text-align: right

