.markdown-body hr.footnotes-sep
    margin-top: 1.5em

.markdown-body .footnote-item
    font-size: 0.8em

.v-application .markdown-body kbd
    position: relative
    background: #fff
    color: #000
    border-right: 5px solid #aaa
    border-bottom: 5px solid #aaa
    border-top: 1px solid #aaa
    border-left: 1px solid #aaa
    border-radius: 3px
    margin: 0.5em
    height: 2em
    line-height: 2em
    font-family: 'PxPlus IBM VGA8 for Powerline'
    font-size: .7em
    padding: 0 0.7em

.v-application .markdown-body kbd::before,
.v-application .markdown-body kbd::after
    content: none

.github-heading
    margin-left: -1em
    position: absolute
    opacity: 0
    padding-right: 1em

h2:hover .github-heading
    opacity: 0.7
    transition: all .3s ease

