// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px
$font-size-root: 19px
$body-font-family: 'Source Sans Pro', Arial, sans-serif
$heading-font-family: 'Fira Sans Extra Condensed', Arial, sans-serif
$heading-font-weight: 700
$card-title-font-family: $heading-font-family
$card-title-font-weight: 400
$card-title-font-size: 1.3rem
$app-background-color: #fff
$app-background-color-dark: #121212
$app-toolbar-background-color: var(--v-primary-base)
$app-toolbar-background-color-dark: #272727
$app-scrollbar-background-color: $app-background-color
$app-scrollbar-background-color-dark: $app-background-color-dark
$app-scrollbar-track-background-color: var(--v-secondary-base)
$app-scrollbar-track-border-color: $app-background-color
$app-scrollbar-track-border-color-dark: $app-background-color-dark
$app-scrollbar-track-background-color-dark: var(--v-secondary-base)
$app-scrollbar-thumb-color: var(--v-primary-base)
$app-scrollbar-thumb-color-dark: #fff
$app-scrollbar-thumb-border-color: $app-background-color
$app-content-padding-bottom: 6rem
$app-content-padding-bottom-sm: 9rem

$code-font-family: 'PxPlus IBM VGA8 for Powerline'
$code-font-size: 16px
$code-font-weight: 400
$code-background-color: #001000
$code-background-color-dark: #000
$code-color: #00d000
$code-color-dark: #82c372
$code-keyword-color: #40ff40
$code-keyword-color-dark: #a7f099
$code-const-color: #008000
$code-const-color-dark: #4e7744
$code-bold-color: #30ff30
$code-bold-color-dark: #a4f094
$code-function-color: #007000
$code-function-color-dark: #44693b
$code-operator-color: #40ff40
$code-operator-color-dark: #a7f099
$code-comment-color: #40a040
$code-comment-color-dark: #6e9769
$code-tag-color: #40ff40
$code-tag-color-dark: #a7f099
$code-symbol-color: #30ff30
$code-symbol-color-dark: #a4f094

$blockquote-background-color: #eee
$blockquote-background-color-dark: #333
$blockquote-bar-color: #ddd
$blockquote-bar-color-dark: #555
$blockquote-code-background-color: transparent
$blockquote-code-background-color-dark: transparent
$blockquote-code-color: #000
$blockquote-code-color-dark: #fff

$table-border-color: #aaa
$table-row-odd-background-color: #eee
$table-row-even-background-color: #dfdfdf
$table-row-odd-background-color-dark: #444
$table-row-even-background-color-dark: #333
$table-code-background-color: transparent
$table-code-background-color-dark: transparent
$table-code-color: #000
$table-code-color-dark: #fff

$kbd-background-color: #fff
$kbd-border-color: #aaa
$kbd-color: #000
$kbd-font-weight: 500
$permalink-color: #000
$permalink-color-dark: #fff
$smallprint-color: #555
$smallprint-color-dark: #aaa
$category-color: #000
$category-color-dark: #fff
$tag-color: #000
$highlight-color: #000
$highlight-background-color: var(--v-accent-base)
$loading-background-color: var(--v-primary-base)

$my-input-container-padding-top: 5px
$my-input-container-padding-top-sm-and-down: 5px

