<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]

  RewriteRule \.html$ - [L]

  RewriteRule static/img/(.*)$ /img/$1 [L]

  RewriteRule (profil|portfolio|veze|razno)$ /$1.html [L]
  RewriteRule (pomocy.php)$ /$1/index.html [L]
  RewriteRule (tekstovi/razno/tri-hajduka|tekstovi/razno/gv)$ /$1.html [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
